.field {
  margin: 24px 0;
}

.field label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.field input {
  background-color: #fff;
  border: none;
  box-shadow: 10px 10px 60px rgba(0, 0, 0, 0.06);
  width: 100%;
}

.field-text input {
  box-sizing: border-box;
  font-size: 24px;
  padding: 24px;
}

.field-color {
  padding: 4px;
}